// Place all the styles related to the early_contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#early_contacts
  #form
    display: block
    margin: 2em 0
    padding: 30px
    font-size: 22px

    border: 1px solid #EE281E
    -webkit-border-radius: 16px
    -moz-border-radius: 16px
    border-radius: 16px


    .field.name,
    .field.email
      label, input
        display: inline-block
      label
        width: 150px
      input
        width: 140px
    .field.can_sponsor
      label
        font-size: 16px
    .field.submit
      font-size: 22px

  #thanks
    display: none
